<style media="screen">
    body {
        background-color: grey;
    }
    .post {
        background-color: olivedrab;
        padding: .2em;
        margin: .2em;
    }
    .post_text{
        height:1.5em;
        background-color: khaki;
    }
    .post_attr {
        width: 20%;
        height: 1.5em;
        background-color: darkseagreen;
    }

    .submit_post_text {
        width: 100%;
        height: 4em;
    }

    .nickname_and_publish {
        margin: 0.5em;
    }
    .nickname_and_publish input[text] {
        width: 20em;
    }
    .nickname_and_publish input[submit] {
        width: 10em;
    }

</style>

<h1>Hello from forum app index!</h1>
<h2>&lt;Place for topic name &gt;:</h2>

<table class="post_table">
    <tr class="post">
        <td class="post_attr">post attributes</td>
        <td class="post_text">post message</td>
    </tr>
    <tr>
        <td class="post_attr">new post attributes</td>
        <td class="post_text">new post message</td>
    </tr>
    {% for post in all_posts %}
    <tr>
        <td class="post_attr">{{ post.post_date }}</td>
        <td class="post_text">{{ post.post_text }}</td>
    </tr>
    {% endfor %}
</table>

<form class="post_form" action="{% url 'forum:index' %}" method="post">
    {% csrf_token %}
    <div class="nickname_and_publish">
        <input class="" type="text" name="submit_nickname" value="your nickname">
        <input class="" type="submit" name="" value="Publish post">
    </div>
    <input class="submit_post_text" type="text" name="submit_text" value="Post text">
</form>

<hr>

<h2>All users of the forum</h2>
<ul>
    {% for person in all_people %}
        <li>{{ person.first_name }} {{ person.last_name }} {{ person.nickname }}</li>
    {% endfor %}
</ul>
